@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* global styling */
body {
  font-family: 'Orbitron', 'Helvetica Neue', Arial, sans-serif;
  background-image: url("./assets/spacewallpaper.jpg");


}


/* Profile Picture and about me Styling */
.profile-picture {
  padding-bottom: 30px;
}

.profile-picture h2 {
  font-size: 50px;
  font-weight: normal;
  margin: 0;
  width: 100%;
}

.profile-picture h3 {
  font-size: 50px;
}
.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
} 

 #about-me {
  text-align: center;
}

#about-me p {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  font-size: 30px;
}



.projects{
  font-size: 40px;
}





/* Contact Form Styling */


.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  height: 150px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6d23e5;
}



.resume {
  font-family: Arial, sans-serif;
  background-color:antiquewhite;
  color: #333;
  padding: 20px;
  margin:auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 1300px;
  border-radius: 5px;
}

.resume p {
  font-size: 20px;
}

.resume h3 {
  font-weight: bold;
}
.resume-heading {
  font-size: 50px;
  margin-bottom: 10px;
}

.resume-contact-info {
  font-size: 20px;
  margin-bottom: 20px;
}

.resume-sub-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.resume-date {
  font-size: 20px;
}

.resume-gpa {
  font-size: 20px;
  margin-bottom: 5px;
}




